# I always forget cron fields, so here they are
#+- minute (normal range: 0-59)
#|+- hour (range: 0-23)
#|| +- day of the month (range: 1-31)
#|| | +- month of the year (range: 1-12)
#|| | | +- day of the week (range: 1-7, 1 for Monday)
#|| | | |
#vv v v v
* * * * * root echo "" >> /var/log/cron.log 2>&1
